
html, body {
    font-family: 'Space Grotesk';
    margin: 0;
}

header {
    font-size: 1.5rem;
    width: 100%;
    display: flex;
}

aside {
    display: flex;
    flex-direction: column;
    position: sticky;
    /* top: 40%; */
    top: 2rem;
    align-self: start;
}

h1 {
    font-size: 25px;
}

h2 {
    margin: 0;
}

p {
    font-size: 18px;
    line-height: 28px;
}

a {
    color: black;
    padding: 0.25rem 0;
}

#main-content {
    display: grid;
    grid-template-columns: 300px 1fr;
    padding: 2rem;
    max-width: 2000px;
}


.rectangle {
    height: 300px;
    width: 500px;
    object-fit: cover;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.right-column {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}